body {
	background: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.innericon {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	cursor: pointer;
	background: #262626;
	transition: .2s;

}

.active .innericon {
	right: 0;
}
.hamb {
	position: absolute;
	top: 5%;
	right: 2%;
	width: 90px;
	height: 90px;
	box-sizing: border-box;
	cursor: pointer;
	border: none;
	outline: none;
}
.hamburger {
	width: 50px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 50%; 
	right: 5%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;

}

.hamburger:before,
.hamburger:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;

}

.hamburger:before{
	top: -16px;
}
.hamburger:after{
	top: 16px;
}

.active .hamburger {
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.active .hamburger:before {
	top: 0;
	transform: rotate(45deg);
	background: #595959;
}

.active .hamburger:after {
	top: 0;
	transform: rotate(135deg);
	background: #595959;
}

.navul {
	margin: 0;
	padding: 140px 0;
}


.navli {
	list-style: none;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 25px;
}

.navul .navli a {
	padding: 10px 50px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
