body {
	background: #fff;
	overflow: auto;
	margin: 0;
	padding: 0;
}

.innericon {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	background: #262626;
	transition: .2s;

}

.active .innericon {
	right: 0;
}
.hamb {
	position: absolute;
	top: 5%;
	right: 2%;
	width: 90px;
	height: 90px;
	box-sizing: border-box;
	border: none;
	outline: none;
	cursor: pointer;
}
.hamburger {
	width: 50px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 50%; 
	right: 5%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;

}

.hamburger:before,
.hamburger:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;

}

.hamburger:before{
	top: -16px;
}
.hamburger:after{
	top: 16px;
}

.active .hamburger {
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.active .hamburger:before {
	top: 0;
	transform: rotate(45deg);
	background: #595959;
}

.active .hamburger:after {
	top: 0;
	transform: rotate(135deg);
	background: #595959;
}

.navul {
	margin: 0;
	padding: 140px 0;
}


.navli {
	list-style: none;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 25px;
}

.navul .navli a {
	padding: 10px 50px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

nav {
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .2s;
	background: #262626;
}


nav .logo {
	float: left;

}

nav .logo img {
	width: 120px;
	transition: .2s;
	margin-left: 30px;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	line-height: 80px;
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-size: 25px;
	transition: .2s;
}

nav ul li a:hover,
nav ul li a.act {
	color: #fff;
	text-decoration: none;
}

nav.black {
	top: 0;
}

section.image-background {
	width: 100%;
	height: 100vh;
	background-size: cover;
}


section.content {
	padding: 100px;
}



.pimg1 {
	background-image: url('http://localhost/PapiaSon/public/image/46.jpg');
	height: 100vh;
}

.pimg2 {
	background-image: url('http://localhost/PapiaSon/public/image/27.jpg');
	height: 350px;
}

.pimg3 {
	background-image: url('http://localhost/PapiaSon/public/image/37.jpg');
	height: 350px;
}

.pimg4 {
	background-image: url('http://localhost/PapiaSon/public/image/2.jpg');
	height: 350px;
}

.pimg5 {
	background-image: url('http://localhost/PapiaSon/public/image/42.jpg');
	height: 100vh;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
	width: 100%;
	background-size: cover;/*
	position: relative;
	opacity: 0.7;
	background-position: center;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section {
	text-align: center;
	padding: 50px 80px;
}
